In [ ]:
Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [ ]:
def class_(param):
    if param <= 2.0:
        return 'низкий рейтинг'
    if param <= 4.0:
        return 'средний рейтинг'
    if param > 4:
        return 'высокий рейтинг'

In [ ]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
joined = ratings.merge(movies, on='movieId', how='left')
df = joined.filter(items = ['title', 'rating'])
df['class_'] = df['rating'].apply(class_)
df.tail()

In [ ]:
Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет 
выставить географическую принадлежность определенному региону. 
Т. е. если поисковый запрос содержит название города региона,
то в столбце ‘region’ пишется название этого региона. 
Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [25]:
geo_data = {'Center': ['москва', 'тула', 'ярославль'],'Zapad': ['петербург', 'псков', 'мурманск'],
'Vostok': ['владивосток', 'сахалин', 'хабаровск']}
 
df = pd.DataFrame({'Center': ['москва', 'тула', 'ярославль'],'Zapad': ['петербург', 'псков', 'мурманск'],
'Vostok': ['владивосток', 'сахалин', 'хабаровск']})
df

      Center      Zapad       Vostok
0     москва  петербург  владивосток
1       тула      псков      сахалин
2  ярославль   мурманск    хабаровск

In [33]:
# key = 'псков'
# def reg (param):
#     for i in df.columns:
#         newDf = df.loc[lambda df: df[i] == param]
#         if(not newDf.empty):
#             return i

AttributeError: 'DataFrame' object has no attribute 'rows'

In [35]:
def reg (param):
    if 'москва' in param:
        return 'Центр'
    if 'тула' in param:
        return 'Центр'
    if 'ярославль' in param:
        return 'Центр'
    if 'петербург' in param:
        return 'Северо-Запад'
    if 'псков' in param:
        return 'Северо-Запад'
    if 'мурманск' in param:
        return 'Северо-Запад'
    if 'владивосток' in param:
        return 'Дальний Восток'
    if 'сахалин' in param:
        return 'Дальний Восток'
    if 'хабаровск' in param:
        return 'Дальний Восток'
    else:
        return 'Undefined'

In [66]:
# a = []
# for value in geo_data.values():
#     a += value
# print(a)

TypeError: unsupported operand type(s) for +=: 'dict' and 'list'

In [23]:
# def reg (param):
#     if a in param:
#         for i in df.columns:
#             newDf = df.loc[lambda df: df[i] == a[q]]
#             if(not newDf.empty):
#                 return i

In [ ]:
# def loc ():
#     for i in df.columns:
#         newDf = df.loc[lambda df: df[i] == a[3]]
#         if(not newDf.empty):
#             return i
        
# loc()

In [36]:
towns = pd.read_csv('keywords.csv')
towns['region'] = towns['keyword'].apply(reg)
towns.head(30)

                          keyword     shows     region
0                  москва столица  64292780      Центр
1                              вк  64292779  Undefined
2                   одноклассники  63810309  Undefined
3                           порно  41747114  Undefined
4                            ютуб  39995567  Undefined
5                       вконтакте  21014195  Undefined
6      одноклассники моя страница  19976138  Undefined
7                            майл  15144673  Undefined
8                           авито  14786593  Undefined
9                      переводчик  14453469  Undefined
10                         яндекс  13344734  Undefined
11                сбербанк онлайн  10725673  Undefined
12                           mail   7687204  Undefined
13                           игры   6075762  Undefined
14                        youtube   5729958  Undefined
15         вконтакте моя страница   5971451  Undefined
16                           секс   5431732  Undefined
17                           гугл   5175471  Undefined
18                             dr   4880955  Undefined
19                    алиэкспресс   4879645  Undefined
20                        рамблер   4540421  Undefined
21                    фильмы 2016   4486635  Undefined
22                         погода   4344510  Undefined
23                             vk   4330448  Undefined
24              ютуб видеохостинг   4215267  Undefined
25                          дойки   4133424  Undefined
26  одноклассники социальная сеть   4018230  Undefined
27                       мультики   3866664  Undefined
28                        контакт   3815111  Undefined
29                        фейсбук   3669993  Undefined

In [ ]:
Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. 
Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего 
занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). 
Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, 
а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. 
Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и 
отсортируйте результат по убыванию рейтинга

In [102]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
joined = ratings.merge(movies, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [103]:
YEARS = list(range(2010, 1949, -1))
print(YEARS[1])

2009

In [101]:
joined['year'] = joined['title'].apply(reg)
joined.head()

TypeError: 'in <string>' requires string as left operand, not int

In [100]:
def reg (param):
    if YEARS[1] in param:
        return YEARS[1]